/* =========================================================
 * Base styles that apply only to generic element selectors
 * =========================================================*/
body, *, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

h1 {
    font-size: 1.8em;
    line-height: 1em;
}

h2 {
    font-size: 1.4em;
    line-height: 1em;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

em {
    font-weight: bold;
}

small {
    font-size: 0.8em;
}

header {
    position: fixed;
}

img{
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    width: 240px;
    height: 324px;
}

/* =========================================================
 * Style classes starting with "l-" refer to "layout" components
 * (grouping concepts that affect layout, width and margins)
 * =========================================================*/
 .l-pad {
    padding: 1em;
 }

 .l-sidebar {
    width: 250px;
}

.l-content {
    padding: 1em;
    /* overflow: hidden; */
}

.l-content-constrained {
    padding-left: 270px;
}

.l-column {
    display: table-cell;
    vertical-align: top;
}

.l-row {
    display: table;
    width: 100%;
}

.sticky {
    position: sticky;
}

/* =========================================================
 * Modular and reusable styles
 * =========================================================*/

 .cf {
    overflow: hidden; /* We need to use clearfix because the topbar contains an element that is floated. When you have a floated element, this element get out of the float. So the topbar doesn't contain it anymore.
    We need to apply clearfix to the element that contains the floated elements.
    */
 }

 .logo {
    font-family: "Stoke", sans-serif;
    }

    .logo h1 {
        display: inline-block;
        margin-right: 0.5em;
        color: #5F6367;
        font-size: 1.5em;
        font-weight: 300;
    }
    .fa-stairs {
        font-size: 2.5em;
        color: #34A853;
    }

.logo-sub {
    color: #5F6367;
    font-weight: 100;
}

.topbar {
    background-color: #FFFFFF;
}

.topbar a :hover {
    background-color: #DBE8EF;
}

.topbar-title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #054F7C;
    background-color: #E5F1F9;
    float: left;
    border-radius: 30px;
    }
    .topbar-title > i {
        font-size: 1.5em;
        margin-right: 0.5em;
    }
    .topbar-title > h2 {
        display: inline-block;
    }

.categories {
    position: absolute;
    z-index: 100;
    font-size: 1.2em;
    line-height: 2em;
    padding: 0.5em;
}
    .categories a {
        color: #5F6367;
        display: block;
        padding-left: 1em;
        padding-right: 1em;
        font-weight: 300;
    }
    .categories a:hover {
        background-color: #F5F5F5;
        border-radius: 30px;
    }
    .categories a:focus {
        color: #054F7C;
        background-color: #E5F1F9;
        border-radius: 30px;
        font-weight: 400;
    }

.thumb {
    float: left;
    height: 207px;
    margin: 0.5em 0.2em;
    }
    .thumb:hover {
        background-color: #F5F5F5;
        border-radius: 12px;
    }

.books,
.book {
    display: none;
}

#title{
    font-size: 4em;
    font-weight: 500;
    line-height: 1.2em;
}

.subtitle {
    width: 70%;
}

.title {
    line-height: 2em;
    font-weight: 400;
}

.sub-info {
    padding-top: 20px;
}

#author {
    color: #0179ca;
    font-weight: 400;
}

.thumb-link img {
    height: 100%;
    width: 100%;
}
.thumb-link img:hover {
    opacity: 0.7;
}

.book {
    display: flex;
}

.book-img {
    position: relative;
}

.book-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    top: 120px;
    margin-left: 270px;
    position: relative;
    padding: 1em 5em 1em 0;
}

.book-content {
    position: relative;
    top: 150px;
    margin-left: 270px;
    padding: 1em 5em 1em 0 ;
    height: 100%;
}


.publisher-details {
    font-size: 13px;
}

.publish-date {
    font-size: 13px;
}

.data-book {
    margin-top: 120px;
}

/* Buttons */

.sub-buttons {
    display: inline;
    padding-right: 25px;
}

.purchase span {
    position: relative;
    font-size: 16px;    
}

.purchase {
    border-radius: 8px;
    background-color: #0179ca;
    color: #FFFFFF;
    width: 175px;
    height: 35px;
    box-shadow: none;
    border: none;
}

.purchase:hover {
    background-color: #054F7C;
    color: #FFFFFF;
    cursor: pointer;

}

.free-sample {
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #0279CA;
    box-shadow: none;
    border: solid 1px #DADCE0;
    width: 175px;
    height: 35px;
    font-size: 16px;
}

.free-sample:hover {
    border-radius: 8px;
    color: #045282;
    background-color: #F6FAFE;
    cursor: pointer;
}

/* =========================================================
 * Classes describing state
 * =========================================================*/

 .is-visible {
    display: block;
 }

/* =========================================================
 * Responsive Design
 * =========================================================*/

@media screen and (max-width: 1165px) {
    .subtitle {
        width: 60%;
     }
 }

    
