/* =========================================================
 * Base styles that apply only to generic element selectors
 * =========================================================*/
body, *, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

h1 {
    font-size: 1.8em;
    line-height: 1em;
}

h2 {
    font-size: 1.4em;
    line-height: 1em;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

em {
    font-weight: bold;
}

small {
    font-size: 0.8em;
}

img{
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    width: 240px;
    height: 324px;
}

.book-img {
    position: absolute;
    right: 0;
}

/* =========================================================
 * Style classes starting with "l-" refer to "layout" components
 * (grouping concepts that affect layout, width and margins)
 * =========================================================*/
 .l-pad {
    padding: 1em;
 }

 .l-sidebar {
    width: 250px;
}

.l-content {
    padding: 1em;
    overflow: hidden;
}

.l-content-constrained {
    padding-left: 270px;
}

.l-column {
    display: table-cell;
    vertical-align: top;
}

.l-row {
    display: table;
    width: 100%;
}

/* =========================================================
 * Modular and reusable styles
 * =========================================================*/

 .cf {
    overflow: hidden; /* We need to use clearfix because the topbar contains an element that is floated. When you have a floated element, this element get out of the float. So the topbar doesn't contain it anymore.
    We need to apply clearfix to the element that contains the floated elements.
    */
 }

 /* .standout {
    background-color: #F5F5F5;
 } */

/* .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000;
} */

 .logo {
    font-family: "Stoke", sans-serif;
    }

    .logo h1 {
        display: inline-block;
        margin-right: 0.5em;
        color: #5F6367;
        font-size: 1.5em;
        font-weight: 300;
    }
    .fa-stairs {
        font-size: 2.5em;
        color: #34A853;
    }

.logo-sub {
    color: #5F6367;
    font-weight: 100;
}

.topbar {
    background-color: #FFFFFF;
}

.topbar-title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #5F6367;
    background-color: #E5F1F9;
    float: left;
    border-radius: 30px;
    }
    .topbar-title > i {
        font-size: 1.5em;
        margin-right: 0.5em;
    }
    .topbar-title > h2 {
        display: inline-block;
    }

.categories {
    position: absolute;
    z-index: 100;
    font-size: 1.2em;
    line-height: 2em;
    padding: 0.5em;
}
    .categories a {
        color: #444;
        display: block;
        padding-left: 1em;
        padding-right: 1em;
    }
    .categories a:hover {
        background-color: #F5F5F5;
        border-radius: 30px;
    }

.thumb {
    float: left;
    height: 207px;
    margin: 0.5em 0.2em;
    }
    .thumb:hover {
        background-color: #F5F5F5;
        border-radius: 12px;
    }

.books,
.book {
    display: none;
}

.book-header {
    width: calc(100% - 96px);
    margin: 0 auto;
    position: relative;
    padding-bottom: 300px;
}

#title{
    font-size: 2.5em;
    line-height: 2.5em;
    font-weight: 500;
}

.title {
    line-height: 2em;
}

#author {
    color: #0179ca;
    font-weight: 500;
}

.book-content {
    width: calc(100% - 96px);
    margin: 0 auto;
    position: relative;
}

.details {
    padding-left: 2px;
}

/* =========================================================
 * Classes describing state
 * =========================================================*/

 .is-visible {
    display: block;
 }