<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books on Boogie App Store</title>

    <link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Stoke:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.6.0/backbone-min.js"></script>
</head>
<body>

    <!-- Header -->
    <header class="topbar-header">
        <div class="topbar cf" data-id="topbar">
            <div class="l-pad sticky">
                <a href="#category/all">
                    <span class="logo">
                        <i class="fa-solid fa-stairs"></i>
                        <h1>Boogie App</h1>
                    </span>
                </a>
                <span class="topbar-title l-pad">
                    <a data-id="category-toggle" href="#"><i class="fa-solid fa-bars"></i></a>
                    <a href="#category/all"><i class="fa-solid fa-book"></i></a>
                    <h2>Books</h2>
                </span>
            </div>

        
        <!-- Categories -->
            <aside>
                <div class="categories l-sidebar" data-id="categories">
                    <ul>
                        <li><a href="#category/all" data-id="category">All</a></li>
                        <li><a href="#category/scifi" data-id="category">Science Fiction</a></li>
                        <li><a href="#category/romance" data-id="category">Romance</a></li>
                        <li><a href="#category/horror" data-id="category">Horror</a></li>
                        <li><a href="#category/sport" data-id="category">Sports</a></li>
                    </ul>
                </div>
            </aside>
        </div>

        <div>
        </div>

    </header>    

    <!-- Content -->
    <div class="books-wrapper" data-id="books-wrapper">
        <div class="books l-content l-content-constrained" data-id="books-list">
        </div>

        <div class="book" data-id="book">
        </div>
    </div>
    
    <!-- UNDERSCORE -->
    <script type="text/html" data-id="book-detail-view">
        <header class="book-header"> 

            <div class=" subtitle">
                <div class="title"><h1 id="title"><%= info.title %></h1>
                </div>

                <div class="sub-info">
                    <div class="author details">
                        <%= (info.authors ? '<a href="#" id="author">' + info.authors.join(" - ") : "") %>
                        </a>
                    </div>
                    <span class="publish-date"><%= info.publishedDate %></span> 
                    <span class="publisher-details" data-id="publisher"><%= publisher %></span>
                </div>
            </div>

            <div class="book-img">
                <img src="<%= (images.small || images.thumbnail) %>">
            </div>

            <div class="buttons"> 
                <div class="sub-buttons"> 
                    <button class="purchase">
                        <span>($00.00) Ebook</span>
                    </button>
                </div>
                <div class="sub-buttons"> 
                    <button class="free-sample">Free Sample</button>
                </div>
            </div>
            

        </header>
        
        <div class="book-content">
            <h2 class="title">About this e-book</h2>
            <p> 
                <%= info.description %>
            </p>
        </div>

    </script>

    <script src="/js/bootstrap.js"></script> <!-- Declaring -->
    <script src="/js/routers/Router.js"></script> <!-- Declaring -->
    <script src="/js/models/Books.js"></script>
    <script src="/js/views/BookList.js"></script>
    <script src="/js/models/Book.js"></script>
    <script src="/js/views/BookDetail.js"></script>
    <script src="/js/views/TopBar.js"></script>

    <script src="/js/main.js"></script> <!-- Starting the application process -->
</body>
</html>